.header-content {margin: 30px 30px 0 30px;}
.header-item{display: inline-block;padding:5px 15px;margin:0 15px;}
.header-item:first-child{margin: 0; padding: 0;}
.header-item:hover{text-decoration: none;color: #bbb;}
.header-item:focus{text-decoration: none;color: #ccc;border-bottom: 1px solid #ccc;}
.header-item:active{text-decoration: none;color: #ccc;border-bottom: 1px solid #ccc;}
/* section部分 */
.content-section{padding: 15px 30px;}
.main-box{padding: 0 0 15px 0;margin:15px 0 0 0;width: 90%;}
.main-box .main-header{border-bottom: 1px solid #ccc; width: 100%; color:#3e3e3e; font-size: 16px;line-height: 1.6;margin:0 0 10px 0;}
.main-box .main-detail{color:#ccc;}